<div class="header">
    <div class="left">
        <div class="logo">
            <a href="/"><img src="/icons/games.webp" alt="Gem Games logo"></a>
            <a href="/"><h1>Gamies</h1></a>
        </div>
    
        <button class="menu-toggle" id="menuToggle">☰</button>
    </div>

    <div class="right">
        <nav class="nav" id="navMenu">
            <a href="/">Home</a>
            <a href="/genres">Genres</a>
            <a href="/games">Games</a>
        </nav>

        <form class="search" action="/games/search" method="get">
            <input type="text" name="search" placeholder="Search Games..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</div>