<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/icons/games.webp">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/home.css">
        <script src="/js/header.js" defer></script>
        <title>Home</title>
    </head>

    <body>
        <div class="gem-games">
            <%- include('partials/header') %>
        </div>

        <main>
            <h2>This is Games Page...</h2>
        </main>

        <!-- FOOTER -->
        <footer>
            <p>© 2026 Games Inventory App By John Walter</p>
        </footer>
    </body>
</html>